<div class="prof_header">

  <div class="row">

    <div class="col-xs-4">
      <%= image_tag @restaurant.photo, class: 'prof_pic' %>
    </div>

    <div class="col-xs-8">

      <div class="restaurant_header">

        <div class="row">
          <div class="col-xs-3">
            <h1 class = "restaurantname"><%= @restaurant.name %></h1>
          </div>
          <div class="col-xs-3">
           
          <button type="button" class="restaurant_edit_button btn btn-default" data-toggle="modal" data-target="#myModal">
          LOCATION
          </button>
         <br>
          <button type="button" class="restaurant_edit_button btn btn-default" data-toggle="modal" data-target="#myModal1">
            CONTACT
          </button>
          </div>
          <div class="col-xs-6">
            <%= link_to 'EDIT PROFILE', edit_restaurant_registration_path(@restaurant), class: 'restaurant_edit_button btn btn-default' if restaurant_signed_in? && @restaurant == current_restaurant %><br><br>
            <%= link_to 'MAIL RECEIVED', mail_path, class: 'restaurant_edit_button btn btn-default' if restaurant_signed_in? && @restaurant == current_restaurant %>
          </div>
        </div>  
      </div>

      <span class="count"><%= @restaurant.posts.count %></span> posts

    </div>

  </div>

</div>


<div class="prof_post_box">

  <div class="row distance">

    <% @restaurant.posts.each do |post| %>

        <div class="col-xs-6">
          <%= image_tag post.photo, class: 'prof_show' %>
        </div>

    <% end %>

  </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <h1><%= @restaurant.location%></h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
        <h1><%= @restaurant.phone%></h1>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>