<!DOCTYPE html>
<html>
  <head>
    <title>Projectfoodpoint</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans:300,400,600,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
	<nav class="navbar navbar-expand-sm  mb-3">
	  <div class="row">
	    <div class = "col-lg-6 col-lg-offset-3">
	      <div class="row">
	        <div class="nav_wrapper">

	        <div class="col-md-1">
				<span class="pull-left brand">
					<% if restaurant_signed_in? %>
						<%=link_to 'FOODPOINT',posts_path %>
					<% else %>
						<%=link_to 'FOODPOINT',root_path %>	
					<% end %>
					</span>
			</div>

		
			<div class="col-md-5" style="margin-top:1px;">
					
				<%= form_tag(search_index_path, method: "get",class:"form-inline")do %>
				<%= text_field_tag :query,"",class:'form-control' %> <span class="font"><i class="fa fa-search"></i></span>
				 <% end %>
			
			</div>

			

			<div class="col-md-6">
					<span class="nav_links pull-right"><%= link_to 'Map', map_path %>
					<% if restaurant_signed_in? %>
						<span class="nav_links pull-right"><%= link_to 'Chat', chat_index_path %>
						<div class="dropdown position">
							<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							SETTINGS
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<li><%= link_to 'New Post', new_post_path %></li>

								<li><%= link_to 'Edit Settings', edit_restaurant_registration_path %></li>
								<li><%= link_to 'Log Out', destroy_restaurant_session_path, method: :delete %></li>
							</div>
						</div>
							
					 <% else %>
					 <div class="dropdown position">
						<button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						JOIN
						</button>
						<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
							<li><%= link_to 'Sign up', new_restaurant_registration_path %></li> 		
							<li><%= link_to 'Log In', new_restaurant_session_path %></li>
						</div>
					</div>
						
					<% end %>
				</div>
			</div>
	      </div>
	    </div>
	  </div>
	</nav>  
    <%= yield %>
  </body>
</html>
