<!DOCTYPE html>
<html>
  <head>
    <title>Projectfoodpoint</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Dosis|Open+Sans:300,400,600,700" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
	<nav class="navbar navbar-expand-sm  mb-3 ">
	  <div class="row">
	    <div class = "col-lg-6 col-lg-offset-3">
	      <div class="row">
	        <div class="nav_wrapper">

	        <div class="col-md-1">
				<span class="pull-left brand"><%=link_to image_tag("fp.jpg", :size => "220x91"),root_path %></span>
			</div>

		
			<div class="col-md-5" style="margin-top:5px;">
				<div class="input-group container my-2">
					
				<%= form_tag(search_index_path, method: "get")do %>
				 <%= text_field_tag(:query)%>
				  <%= submit_tag("Search") %>
				<% end %>
			
			</div>
		</div>

			

			<div class="col-md-6">
					<span class="nav_links pull-right"><%= link_to 'Map', map_path %>
					<% if restaurant_signed_in? %>
						<span class="nav_links pull-right"><%= link_to 'New Post', new_post_path %>
						<span class="nav_links pull-right"><%= link_to 'Edit Settings', edit_restaurant_registration_path %>
						<span class="nav_links pull-right"><%= link_to 'Log Out', destroy_restaurant_session_path, method: :delete %>	
					 <% else %>
						<span class="nav_links pull-right"><%= link_to 'Sign up', new_restaurant_registration_path %>		
	
						<span class="nav_links pull-right"><%= link_to 'Log In', new_restaurant_session_path %>
					<% end %>
				</div>
			</div>
	      </div>
	    </div>
	  </div>
	</nav>  
    <%= yield %>
  </body>
</html>
