<!DOCTYPE html>
<html>
  <head>
    <title>Projectfoodpoint</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
	<nav>
	  <div class="row">
	    <div class = "col-lg-6 col-lg-offset-3">
	      <div class="row">
	        <div class="nav_wrapper">

	        <div class="col-xs-2">
				<span class="pull-left brand"><%=link_to image_tag("fp.jpg", :size => "220x91"),root_path %></span>
			</div>

			<div class="col-xs-5">
				<div class="input-group stylish-input-group">
					<%= form_tag posts_path, method: :get do %>
					<%= text_field_tag 'term',params[:term], placeholder: "Search ..." %>
					<%= submit_tag "Search" %>
					<% end %>
            </div>
        </div>
			<div class="col-xs-5">
					<span class="nav_links pull-right"><%= link_to 'Map', map_path %>
					<% if restaurant_signed_in? %>
						<span class="nav_links pull-right"><%= link_to 'New Post', new_post_path %>
						<span class="nav_links pull-right"><%= link_to 'Edit Settings', edit_restaurant_registration_path %>
						<span class="nav_links pull-right"><%= link_to 'Log Out', destroy_restaurant_session_path, method: :delete %>	
					 <% else %>
						<span class="nav_links pull-right"><%= link_to 'Sign Up', new_restaurant_registration_path %>
						<span class="nav_links pull-right"><%= link_to 'Log In', new_restaurant_session_path %>
					<% end %>
				</div>
			</div>
	      </div>
	    </div>
	  </div>
	</nav>  
    <%= yield %>
  </body>
</html>
