<!DOCTYPE html>
<html>
  <head>
    <title>Projectfoodpoint</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
	<nav>
		<% if restaurant_signed_in? %>
			<%= link_to 'New Post', new_post_path %>
			<%= link_to 'Edit Settings', edit_restaurant_registration_path %>
			<%= link_to 'Log Out', destroy_restaurant_session_path, method: :delete %>	
		 <% else %>
			<%= link_to 'Sign Up', new_restaurant_registration_path %>
			<%= link_to 'Log In', new_restaurant_session_path %>
		<% end %>
		
	</nav>  
    <%= yield %>
  </body>
</html>
